:root {
    --main-color: rgb(255, 212, 65);
    --main-color-dark: #1f1d18;
    --color-pass: rgb(65, 184, 131);
    --color-miss: rgb(184, 65, 111);
    --main-color-rgb: 178 118 102;
    --border-color: #56595d;
    --background-color: #232425;
}

body {
    background-color: var(--background-color);
}